@use "@picocss/pico/scss/pico";
@use "@picocss/pico/scss/colors" as *;
@use "variables" as *;

.page-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //height: 100vh;
  //width: 100vw;
}

main {
  background: $grey-150;
  flex: 1 1 0;
}

footer {
  background: $grey-250;
  height: $footer-height;
}

header {
  background: $grey-250;
  height: $header-height;
}
aside {
  background: $grey-100;
  flex: 1 1 25%;
}
.main-section-wrap {
  display: flex;
}
.content-wrap {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0;
}
.constructor-area-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 75%;
  min-height: calc(100vh - $header-height - $footer-height);
  height: auto;
}
.constructor-area {
  width: 90%;
  min-height: calc(95vh - $header-height - $footer-height);
  height: auto;
  border: 2px dashed $blue-250;
  &.active {
    background-color: $blue-300;
  }

  &__component {
  }
}

.dragable-object {
  width: 350px;
  height: 50px;
  background-color: $grey-350;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

#drop-insert-marker {
  height: 20px;
  width: 100%;
  background-color: $grey-300;
}
