@use "@picocss/pico/scss/pico";
@use "@picocss/pico/scss/colors" as *;
@use "variables" as *;

.page-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  //width: 100vw;
}

label {
  sup {
    color: $red-500;
  }
}

main {
  background: $white;
  flex: 1 1 0;
}

footer {
  background: var(--pico-secondary-background);
  height: $footer-height;
}

header {
  background: var(--pico-secondary-background);
  height: $header-height;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //background: $grey-50;
  background: $slate-50;
  padding: $padding * 1.5;
  width: 350px;
}
.main-section-wrap {
  display: flex;
}
.content-wrap {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0;
}
.constructor-area-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 55%;
  min-height: calc(100vh - $header-height - $footer-height);
  flex-direction: column;
  height: auto;
}
.constructor-area {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 45vw;
  padding: $padding * 2;
  //min-height: calc(95vh - $header-height - $footer-height);
  height: calc(95vh - $header-height - $footer-height);
  background: white;
  box-shadow: -2px 3px 10px #b2b0b0;
  overflow-y: auto;
  &__form {
    flex: 1 1 0;
  }
  &__component {
    display: block;
    border-radius: 5px;
    padding: $padding;
    transform: translateY(0);
    transition: all 0.2s ease-in-out;

    input,
    textarea,
    select {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
    &:hover {
      background-color: $slate-100;
      cursor: pointer;
    }

    div {
      pointer-events: none;
    }
  }
}

#constructor-free-drop {
  width: 100%;
  flex: 1 1 20px;
  min-height: 100px;
  &.active {
    border: 2px dashed $grey-100;
    background-color: $bg-freedrop-zone;
  }
}
.dragable-object {
  //width: 250px;
  width: 100%;
  height: 55px;
  margin-bottom: $padding;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  padding: 0 $padding * 3;
  align-items: center;
  box-shadow: -1px 2px 5px #b2b0b0;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
  span {
    width: 70%;
  }
  svg {
    height: 22px;
    width: 22px;
  }
}

#drop-insert-marker {
  height: 65px;
  margin: 5px auto;
  width: calc(100% - $padding * 2);

  padding: $padding;
  border: 2px dashed $grey-100;
}

.sidebar-wrap {
  padding: $padding * 2 $padding * 2;
  width: 40vw;
  height: 100vh;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  border-right: 2px solid $blue-850;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  background: white;
  &.active {
    transform: translateX(0%);
    & + .sidebar-backdrop {
      display: block;
    }
  }
  .composed-form {
    min-height: calc(100vh - $footer-height);
  }
}

.sidebar-backdrop {
  position: absolute;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.3;
  display: none;
}

.composed-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(90vh - $footer-height - $header-height);

  &__content {
    &__group {
      margin: $padding 0;
    }

    .field-settings {
      &__option-label-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        h5,
        h6 {
          font-weight: 600;
        }
        #delete-row {
          width: 200px;
          padding: 0;
          height: 45px;
          margin-top: 0;
        }
      }
    }
  }
  #add-row {
    margin: $padding 0;
    width: 100%;
  }
}
.form-preview {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 45vw;
  border-radius: 5px;
  margin: auto;
  flex-direction: column;
  height: auto;
  background-color: white;
  box-shadow: -2px 3px 10px #b2b0b0;
  padding: $gap * 2;
  overflow-y: auto;
}

.date-range {
  display: flex;
  width: 100%;
  flex-direction: column;
  label {
    text-align: left;
  }
  &__inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      width: 48%;
    }
  }
}
.btn-danger {
  background-color: $red-500;
  border-color: $red-500;
  &:hover {
    background-color: $red-600;
  }
}

.form-controls {
  display: flex;
  flex-direction: column;
  margin-top: $padding;
  button {
    margin-bottom: $padding;
  }
}

.sidebar-content {
  .form-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: $padding;
    button {
      width: 49%;
    }
  }
}

#delete-row {
  width: 100%;
  margin-top: $padding;
}
